*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: calc(100% - 250px);
    min-height: 100px;
    background-color: rgba(8, 11, 18, 0.7);
    display: flex;  
    position: fixed; 
    top:0;
    right:0; 
    overflow:10;
}

aside{
    width: 250px;
    display: flex;
    background-color: #000000;
    height:calc(100vh - 100px)
}

footer{
    height: 100px;
    background-color: #282828 ;
    width: 100%;
}

main{
    width: 100%;
    display: flex;
    background-color: #141922;
}