*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* HEADER----------  */

header{
    width: calc(100% - 250px);
    min-height: 80px;
    background-color: rgba(8, 11, 18, 0.7);
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    position: fixed; 
    top:0;
    right:0; 
    z-index:10;
}

/* ALL BUTTON----------- */

.btn-uppgrade{
    border: 0.5px solid white;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    color: white;
    background-color: #080b12;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-right: 20px;
}
.btn-uppgrade:hover{
    color:#26d16b;
}

/* MAIN----------  */
main{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    background-color: #141922;
}

/* SECTION ASIDE---------  */

aside{
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #000000;
    height:calc(100vh - 80px);
    flex-shrink: 0;
}
.logo{
    display: flex;
    align-items: flex-start;
}

.logo-spotify{
    height: 50px;
    margin:20px 10px;
}

.logo-small{
    display: none;
    align-items: flex-start;
    justify-content: center;
}

.logo-xs{
    height: 40px;
    margin:20px;
}

/* NAV ASIDE TOP-----------  */

.nav-aside-top a{
    position: relative;
    color:#6d6d6d;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    align-items: center;
} 

.nav-aside-top ul, .nav-content ul{
    list-style-type: none;
}

.nav-aside-top, .title-playlist, .add-playlist, .nav-aside-bottom{
    margin: 0px 20px;
}

.nav-aside-top li{
    padding: 8px 0;
}

.icon-nav{
    height: 30px;
    margin-right: 8px;
}

.title-playlist{
    color: white;
    text-transform: uppercase;
    padding: 15px 0;
}

.add-playlist{
    color:#6d6d6d;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;  
}
.square-add{
    font-size: 50px;
    margin-right: 8px;
}

/* NAV ASIDE BOTTOM-------- */

.nav-aside-bottom a{
    color:#6d6d6d;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.nav-aside-bottom li{
    padding: 10px 0;
}
.nav-aside-bottom{
    height: 100%;
    overflow-y: auto;
}


/* SEZIONE-ACCOUNT----------  */

.aside-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.download, .account{
    color: #6d6d6d;
    margin: 10px 20px;
}
hr{
    width: 80%;
    margin:  0px 20px;
}

.account{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.user{
    margin-right: 8px;
    height: 30px; 
    background-color:#808080;
    border-radius: 50%;
}

/* NAV-CONTENT--------  */

.central-content{
    width: 100%;
    overflow-y: auto;
}

.link-navigation{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.nav-content{
    padding-top: 100px;
    
}

 .nav-content ul{
    display: flex;
    flex-wrap: wrap;
}

.nav-content a {
    color:#6d6d6d;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
}

/* FIRST SECTION -----------  */

.album-container{
    padding: 0 30px;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px; 
    
}
.title-row{
    color: white;
    margin-top:50px;  
}

.list-playlist{
    width: calc(100% / 6 - 10px);
    text-align: center;
    justify-content: center;
    margin-right: 10px;
}

.album{
    width: 100%;
    vertical-align: bottom;
}

.title-album{
    margin-top:20px;
    color:white;
}

.album-circle,.overlay-circle{
    border-radius: 50%;
}


.background-image-album{
    position: relative;
}

.subtitle{
    color:#6d6d6d;
    margin:10px 0;
}

.overlay{
    display:none;
    background-color:rgba(8, 11, 18, 0.5);
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
}

.play-icon{
    display: none;
    font-size: 70px;
    color:white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);    
}

.list-playlist:hover .overlay{
    display: block;
    
}

.list-playlist:hover .play-icon{
    display: block;
}

.row-center{
    display: flex;
}

/* FOOTER----------  */

footer{
    height: 80px;
    background-color: #282828 ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.container-left{
    display: flex;
    align-items: center;
    width: 25%;
}

.container-album-small{
    display: flex;
    align-items: center;
}

.small-title-album{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.album-small{
    height: 60px;
}

.whislist, small{
    color: #6d6d6d;
    display: flex;
}
.song-artist{
    color: white;
}
.name-song{
    font-weight: 600;
    font-size: 12px;
}
.heart{
    margin-right: 10px;
}

/* CONTENITORE CENTRALE FOOTER  */

.container-center{
    width:50%;
}

.icons-container{
    display: flex;
    color:white;
    font-size: 18px; 
    justify-content: center;
    align-items: center;
}

.icons-footer{
    padding: 0 20px;
}

.time-bar-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-bar{
    width: 80%;
    height:5px;
    border-radius: 4px;
    background-color:#6d6d6d;
    margin: 10px
}
.time-bar-spent{
    background-color: white;
    width: 10%;
    height:5px;
    border-radius: 4px;
}

.play{
    font-size: 30px;
}

.spent-time, .total-time{
    font-size: 12px;
    color:white;
    font-weight: 600;
}

/* CONTENITORE DESTRO FOOTER  */
.container-right{
width: 25%;
display: flex;
justify-content: flex-end;
}

.icons-right{
    display: flex;
    align-items: center;
    font-size: 12px;
    color:white;
}

.icons-footer-right{
    padding: 0 8px;
}
 .volume-bar-container{
     display: flex;
     align-items: center;
     width: 20%;
 }

.volume-bar{
    width: 100%;
    height:5px;
    border-radius: 4px;
    background-color:#6d6d6d;
}
.volume-bar-used{
    background-color: white;
    width: 30%;
    height:5px;
    border-radius: 4px;
}

/* MEDIA QUERYS-------  */

/* media query lg-----  */
@media screen and  (max-width:1100px){
    .list-playlist{
        width: calc(100% / 4 - 10px);
    }
}


/* media query s-----  */
@media screen and  (max-width:700px){
    .list-playlist{
        width: calc(100% / 2 - 10px);
    }
    .whislist{
        display: block;
    }
    .icons-footer{
        padding: 10px;
    } 
}


/* media query xs-----  */
@media screen and  (max-width:600px){
    aside{
        width: 70px;
    }
    header{
        width: calc(100% - 70px);
    }

    .logo, .title-playlist, .nav-aside-bottom, .add-playlist, hr, #text-account{
        display: none;
    }
    .nav-aside-top{
        flex-grow: 1; 
    }

    .logo-small{
        display: flex;
    }

    .download{
        text-align: center;
    }

    .account{
        justify-content: center;
    }

    .user{
        margin-right: 0px;
    }

}

/* SEZIONE HOVER--------  */

.uppgrade:hover, .play:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#text-account:hover, .nav-aside-bottom a:hover, .add-playlist:hover, .nav-content a:hover, .whislist:hover{
    color:white;
}

.download, .whislist{
    cursor: pointer;
}

.name-song:hover{
    text-decoration:underline;
    color: white;
    cursor: pointer;
}

.nav-aside-top a:hover{
    border-left: 3px solid #26d16b;
}
.nav-aside-top a:active{
    border-left: 3px solid #26d16b;
}

.nav-content li:hover{
    text-decoration: underline #26d16b;
}
